*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainDiv{
    width: 100vw;
    height: 30vh;
    overflow: scroll;
    border: solid 3px black;
}

.letter{
    background-color: gray;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 6vh;
}
h1{
    padding-top: 2vh;
    padding-left: 1vw;
    padding-bottom: 2vh;
}
h2{
    padding-left: 1vw;
    padding-top: 1.5vh;
}
li{
    padding-bottom: 1vh;
}